services:
  web:
    build: .
    container_name: web
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_NAME=app
      - DB_USER=user
      - DB_PASS=password
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
